{% extends 'admin/adminTemplate.html'%}
{%block title%}FAQ{%endblock%}

{%block style%}
{%endblock%}


{%block body%}
{%if user.is_authenticated%}
{% load static %}

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Custmor Query</h1>
                </div>

        {% if query%}
          <div class="table-responsive">
                <table class="table table-dark table-striped">
                    <thead>
                      <tr>
                          <th scope="col">Select</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Question</th>
                        <th scope="col">Date</th>
                          <th scope="col">Answer</th>
                          <th scope="col">Confirm</th>
                      </tr>
                    </thead>
                    <tbody>
                     <form method="post" action="/answerfaq/">
                          {% csrf_token %}
                          {% for q in query %}
                      <tr>
                          <td><input  type="radio" name="rd" id="rd" value={{q.id}} required></td>
<!--                           <td>{{q.id}}</td>-->
                         <td>{{q.name}}</td>
                         <td>{{q.email}}</td>
                         <td>{{q.query}}</td>
                         <td>{{q.date}}</td>
                         <td><textarea name=answer{{q.id}} rows="3"></textarea></td>
                          <td><button type="submit" class="btn btn-primary">Confirm</button></td>
                       </tr>
                      {%endfor%}

                     </form>
                    </tbody>
                  </table>
          </div>
      {%else%}
      <h1>No Frequently Asked Question</h1>
      {% endif %}
  </main>
{%endif%}
{%endblock%}
